

body {
  font-family: Arial, sans-serif;
  background-image: url("mw2.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

header {
  background-color: #333;
  color: #fff;
  padding: 80px;
}
h1 {
  margin-bottom: 50px;
}

h2{
    font-size: 60px
    padding: 150px;
    font-color:  white;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  width: 223px;
}

